beautifulsoup4==4.11.2
Flask==2.2.3
flask_bootstrap==3.3.7.1
flask_wtf==1.1.1
matplotlib==3.6.3
numpy==1.24.1
pandas==1.5.2
scrython==1.11.0
selenium==4.8.2
tqdm==4.64.1
Werkzeug==2.2.3
WTForms==3.0.1
