<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
</head>


{% import "bootstrap/wtf.html" as wtf %}

<body>
    <div>
        {{ wtf.quick_form(deckform, form_type="inline") }}
    </div>
    <div>
        {{ wtf.quick_form(decklist,form_type="inline") }}
    </div>


    <button onClick="window.location.reload();">Refresh Page</button>
    <button onClick="location.href = '/';">Pick</button>
    <button onClick="location.href = '/deck.html';">Deck</button>

    <div class="container">
        <div class="header">
        </div>
        {% block content %}
        <div>
            {{data | safe}}
        </div>
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>

</html>