<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
</head>


{% import "bootstrap/wtf.html" as wtf %}

<body>
    <div>
        {{ wtf.quick_form(formatform,form_type="inline") }}
    </div>
    <div>
        {{ wtf.quick_form(deckform, form_type="inline") }}
    </div>
    <div>
        {{ wtf.quick_form(pickform, form_type="inline") }}
    </div>

    {% include 'navbar.html' %}






    <div class="container">
        <div class="header">
        </div>
        {% block content %}
        <div>
            {{data | safe}}
        </div>
        {% endblock %}
    </div>

    <script>
        const refresh = () => {
            // We should probably just fetch new data instead of refreshing entire page...
            window.location.reload();
        }

        const pollingInterval = 2000;
        var checksum;

        const timer = setInterval(() => {
            fetch('/status')
                .then(r => r.json())
                .then(checksumFromServer => {
                    if (checksum != undefined && checksum != checksumFromServer) {
                        // Refresh if Player.log has changed
                        refresh();
                    }
                    checksum = checksumFromServer;
                }).catch(e => {
                    // Halt useless polling on errors
                    console.error(e);
                    clearInterval(timer);
                });
        }, pollingInterval);

    </script>
</body>

</html>